<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CaptainJS - Admin</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="main">
      <nav>
        <a href="/" id="home"><span>Home</span></a>
        <ul id="menu">
          <li>Dashboard<b class="icon32 home"></b></li>
          <li class="active">Posts<b class="icon32 documents"></b></li>
          <li>Tags<b class="icon32 tags"></b></li>
          <li>Users<b class="icon32 user"></b></li>
          <li>Settings<b class="icon32 gears"></b></li>
        </ul>
      </nav>
      <div id="content">
        Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>
        Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>
        Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>
        Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>
        Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>Foo<br>
      </div>
  </div>
  </body>
</html>
