<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CaptainJS - Admin</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="main">
      <nav>
        <a href="/" id="home"><span>Home</span></a>
        <ul id="menu">
          <li><a href="#dashboard">Dashboard<b class="icon32 home"></b></a></li>
          <li><a href="#posts">Posts<b class="icon32 documents"></b></a></li>
          <li><a href="#tags">Tags<b class="icon32 tags"></b></a></li>
          <li><a href="#users">Users<b class="icon32 user"></b></a></li>
          <li><a href="#settings">Settings<b class="icon32 gears"></b></a></li>
        </ul>
      </nav>
      <div id="content"></div>
  </div>

  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/zepto.js"></script>
  <script src="js/lib/swig.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/main.js"></script>
  <script type="text/tmpl" id="list">
    <h1>{{name|title}}</h1>

    <p>
      <a href="#" class="button icon add">Create new</a>
      <a href="#" class="button icon delete">Delete selected</a>
    </p>

    <table id="{{name}}">
      <thead>
        <tr>
          <th></th>
          {% for column in columns %}
          <th class="{{name}}-{{column.value}}">{{column.label}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for line in lines %}
        <tr data-slug="{{line.slug}}">
          <td><input type="checkbox"></td>
          {% for column in columns %}
          <td class="{{name}}-{{column.value}}">
            {% if column.type == 'date' %}
              {{line[column.value]| date('F jS, Y')}}
            {% else if column.type == 'bool' %}
              <input type="checkbox" {% if line[column.value] %}checked{% endif %}>
            {% else %}
              {{line[column.value]}}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </script>
  </body>
</html>
