<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CaptainJS - Admin</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/editable.css">
    <link rel="stylesheet" href="css/alert.css">
  </head>
  <body>
    <div id="alert" class="alert"></div>
    <nav>
      <a href="/" id="home"><span>Home</span></a>
      <ul id="menu">
        <li><a href="#dashboard">Dashboard<b class="icon32 home"></b></a></li>
        <li><a href="#posts">Posts<b class="icon32 documents"></b></a></li>
        <li><a href="#tags">Tags<b class="icon32 tags"></b></a></li>
        <li><a href="#users">Users<b class="icon32 user"></b></a></li>
      </ul>
    </nav>
    <div id="content">
      <div id="login">
        <a href="#logout" class="box icon32 power"></a>
        <a href="#settings" class="box icon32 gears"></a>
        <a id="userbox" href="#login" class="box">
          <b class="img icon32 anonymous"></b>
          <span class="name">Anonymous</span>
        </a>
      </div>
      <div id="main"></div>
    </div>
    <!-- LIBS -->
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/zepto.js"></script>
    <script src="js/lib/swig.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/async.js"></script>

    <!-- SRC -->
    <script src="js/src/app.js"></script>

    <script src="js/src/collections/posts_collection.js"></script>
    <script src="js/src/collections/tags_collection.js"></script>
    <script src="js/src/collections/users_collection.js"></script>

    <script src="js/src/models/session_model.js"></script>
    <script src="js/src/models/settings_model.js"></script>

    <script src="js/src/views/alert_view.js"></script>
    <script src="js/src/views/form_view.js"></script>
    <script src="js/src/views/list_view.js"></script>
    <script src="js/src/views/menu_view.js"></script>
    <script src="js/src/views/overlay_view.js"></script>
    <script src="js/src/views/region_view.js"></script>
    <script src="js/src/views/user_view.js"></script>

    <script src="js/src/widgets/editable.js"></script>

    <script src="js/src/router.js"></script>

    <script src="js/src/main.js"></script>

    <!-- TEMPLATES -->
    <script type="text/tmpl" id="list">
      <h1>{{name|title}}</h1>

      <p>
        <a href="#{{name}}/new" class="button icon create">Create new</a>
        <a href="#" class="button icon delete">Delete selected</a>
      </p>
      {% if lines.length > 0 %}
      <table id="{{name}}">
        <thead>
          <tr>
            <th><input type="checkbox" class="all"></th>
            {% for column in columns %}
            <th class="{{name}}-{{column.value}}">{{column.label}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for line in lines %}
          <tr data-id="{{line.id}}">
            <td><input type="checkbox" class="select" data-id="{{line.id}}"></td>
            {% for column in columns %}
            <td class="{{name}}-{{column.value}} {% if column.type != "bool" %}edit{% endif %}">

              {# Date #}
              {% if column.type == 'date' %}
                {{line[column.value]| date('F jS, Y')}}

              {# Checkboxes #}

              {% else if column.type == 'bool' %}
                <input
                  type="checkbox"
                  {% if line[column.value] %}checked{% endif %}
                  data-attribute="{{column.value}}"
                  data-id="{{line.id}}"
                  class="quick-check">

              {# Default #}

              {% else %}
                {{line[column.value]}}

              {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      Nothing here yet.
      {% endif %}
    </script>

    <script type="text/html" id="form">
      <h1>{{name|title}}</h1>
      <div class="fields"></div>
      <div class="form-widgets"></div>
      <a class="button submit create" href="#">Submit</a>
    </script>
  </body>
</html>
