<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Captain.js - Setup</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="step-graph" class="row"></div>

        <div class="row">
            <div class="unit marginR50">
                <a href="/" id="home"><span>Home</span></a>
                <ul id="steps">
                    <li data-id="0">Introduction</li>
                    <li data-id="1">Database configuration</li>
                    <li data-id="2">Connection test</li>
                    <li data-id="3">Configuration file</li>
                    <li data-id="4">Tables creation</li>
                    <li data-id="5">Superuser creation</li>
                </ul>
            </div>
            <div class="last-unit padding50">
                <div id="screens">

                    <div data-id="0" class="screen">
                        <h1>Ahoy! It workeh!</h1>
                        <p>We will now walk through the project configuration</p>
                    </div>

                    <div data-id="1" class="screen">
                       <h1>Database configuration</h1>
                        <h4>Please enter the URI to access your Postgres server.
                            It should be something like tcp://user:password@host/database
                        </h4>
                       <form action="/setup/connection-test" method="post">
                           <p>
                               <label for="db">* Connection URI String:</label>
                               <input id="db" type="text" name="uri">
                           </p>
                       </form>
                    </div>

                    <div data-id="2" class="screen">
                        <h1>Configuration file</h1>
                        <h4>Press next to create your initial configuration file.</h4>
                        <form action="/setup/commit" method="post">
                        </form>
                    </div>

                    <div data-id="3" class="screen">
                        <h1>Tables creation</h1>
                        <h4>We are creating the tables in order to install the application.</h4>
                        <p>
                            <small>
                                <a href="#" id="log-details">Click to view details.</a>
                            </small>
                        </p>
                        <pre id="log"></pre>
                    </div>

                    <div data-id="4" class="screen">
                        <h1>Superuser creation</h1>
                        <h4>Create a user to login in later on.</h4>
                        <form action="/setup/user-creation" method="post">
                            <p>
                                <label for="username">* Username:</label>
                                <input id="username" type="text" name="username">
                            </p>
                            <p>
                                <label for="password">* Password:</label>
                                <input id="password" type="text" name="password">
                            </p>
                        </form>
                    </div>

                    <div data-id="done" class="screen">
                        <h1>Make all sail!</h1>
                        <p>You can now <a href="/admin/#posts">create content</a> or
                            <a href="/admin/#settings">edit the configuration</a>
                        </p>
                    </div>
                </div>
                <small>* Required fields</small>
            </div>
        </div>

        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/zepto.js"></script>
        <script src="js/lib/zepto.extra.js"></script>
        <script src="js/lib/swig.js"></script>
        <script src="js/lib/backbone.js"></script>

        <script src="js/src/app.js"></script>
        <script src="js/src/widgets/steps.js"></script>
        <script src="js/src/widgets/screens.js"></script>
        <script>
            $(function() {
                var steps = $('li', '#steps ');

                App.stepGraph = new App.StepsGraph({count: steps.size()});
                App.screens = new App.Screens();
                App.screens.on('3', function() {
                    var log = $('#log').hide();
                    var logDetails = $('#log-details');
                    logDetails.click(function() { log.toggle();});

                    var es = new EventSource('/setup/table-creation');
                    es.onmessage = function(message) {
                        var json = JSON.parse(message.data);
                        log.html([log.html(), json.script].join('\n\n'));
                        if(json.done) {
                            es.close();
                        }
                    };
                });

                App.screens.on('previous', function(index) {
                    App.stepGraph.previous();
                });

                App.screens.on('next', function(index) {
                    var previous = steps.eq(index - 1);
                    var tick = $('<span> &#10004</span>').css('color', '#3cc75c');
                    previous.append(tick);
                    App.stepGraph.next();
                });
            });
        </script>
    </body>
</html>
