<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Captain.js - Setup</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="step-graph" class="row"></div>

        <div class="row">
            <div class="unit marginR50">
                <a href="/" id="home"><span>Home</span></a>
                <ul id="steps">
                    <li data-id="0">Introduction</li>
                    <li data-id="1">Database configuration</li>
                    <li data-id="2">Connection test</li>
                    <li data-id="3">Configuration file</li>
                    <li data-id="4">Tables creation</li>
                    <li data-id="5">Superuser creation</li>
                </ul>
            </div>
            <div class="last-unit padding50">
                <div id="screens">

                    <div data-id="0" class="screen">
                        <h1>Ahoy! It workeh!</h1>
                        <p>We will now walk through the project configuration</p>
                    </div>

                    <div data-id="1" class="screen">
                       <h1>Database configuration</h1>
                       <form action="/setup/connection-test" method="get">
                           <p>
                               <label for="db">Connection URI String:</label>
                               <input id="db" placeholder="tcp://example@localhost/example" type="text" name="uri">
                           </p>
                       </form>
                    </div>

                    <div data-id="2" class="screen">
                        <h1>Connection test</h1>
                        <div class="status">!</div>
                    </div>

                    <div data-id="3" class="screen">
                        <h1>Configuration file</h1>
                        <h2 class="status"></h2>
                    </div>

                    <div data-id="4" class="screen">
                        <h1>Tables creation</h1>
                    </div>

                    <div data-id="5" class="screen">
                        <h1>Superuser creation</h1>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/zepto.js"></script>
        <script src="js/lib/zepto.extra.js"></script>
        <script src="js/lib/swig.js"></script>
        <script src="js/lib/backbone.js"></script>

        <script src="js/src/app.js"></script>
        <script src="js/src/widgets/steps.js"></script>
        <script src="js/src/widgets/screens.js"></script>
        <script>
            $(function() {
                var stepCount = $('#steps li').size();
                App.stepGraph = new App.StepsGraph({count: stepCount});
                App.screens = new App.Screens({
                    '2':  function(err, view) {
                        this.activate();
                        var status = view.find('.status'), message = 'Success!';
                        if(err.code == 'ENOTFOUND') {
                            message = 'Failure: Address not found!<br>' +
                                      'Please go back and verify your URI.';
                            this.deactivate();
                        }
                        status.html(message);
                    }
                });

                App.screens.on('previous', function() {
                    App.stepGraph.previous();
                });

                App.screens.on('next', function() {
                    App.stepGraph.next();
                });
            });
        </script>
    </body>
</html>
