/* Alert

From: http://forrst.com/posts/How_to_Make_a_Pure_CSS_Alert_Bar-TI6

*/

#alert { position: absolute; z-index: 30; }
#alert:hover:after {
    background: hsla(0,0%,0%,.8);
    border-radius: 3px;
    color: #f6f6f6;
    content: 'Click to dismiss';
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 120px;
}
#alert:hover:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}
.alert {
    color: #333;
    display: block;
    opacity: .99;
    height: 40px;
    position: absolute;
    z-index: 30;
    text-align: center;
    padding-top: 10px;
    top: -40px;
    width: 100%;
    -moz-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
}

.alert.error { background-color: rgba(255, 111, 96, 0.98); }
.alert.success { background-color: #c3f29d;  }
.alert.warning { background-color: #f2de88; }
.alert.info { background-color: #bcdbf2; }
