@font-face {
    font-family: 'Copse';
    src: url('fonts/copse-regular-webfont.eot');
    src: url('fonts/copse-regular-webfont.eot') format('embedded-opentype'),
         url('fonts/copse-regular-webfont.woff') format('woff'),
         url('fonts/copse-regular-webfont.ttf') format('truetype'),
         url('fonts/copse-regular-webfont.svg#copseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Structure */

a { color: #333; }
a:hover { text-decoration: underline; }
body { font-family: 'Copse', serif; margin: 0; height: 100%; position: relative; }

#main { padding: 20px; }
#content { position: relative; margin-left: 255px; border-left: #cdcbcb 1px solid; }
#home { background: url(img/logo.png) center center no-repeat; display: block; height: 182px; margin: 20px 0; }
#home span { display: none; }

.float-right { float: right; }
.float-left, .unit { float: left; }
.hidden { display: none !important; }
.overflow-hidden, .row, .last-unit { overflow: hidden; }

.padding50 { padding: 50px; }
.marginB50 { margin-bottom: 50px !important; }
.marginR50 { margin-right: 50px !important; }

/* Navigation */

.menu { position: absolute; top:0; bottom:0; left:0; height: 100%; width: 255px; background: #fbfbfb;}
.menu ul { list-style-type: none; padding: 0; background: #ff6018; }
.menu b { float: right; position: relative; top: -3px; }
.menu li a { display:block; height: 20px; padding: 15px 20px; border-top: 1px solid white; background: #fbfbfb; }
.menu li a.active { margin-left: 5px; border-color: #cdcbcb; border-style: solid; border-width: 1px 0 1px 0; background: white; position: relative; left: 1px; z-index: 2; }
.menu li a:hover { color: #ff6018 }

.pagination { margin: 10px; }
.pagination .next, .pagination .prev { display: inline-block; padding: 0 10px; }
.pagination .active { text-decoration: underline; cursor: pointer; }
.pagination .active:hover { text-decoration: none; }

/* Typo */
a { text-decoration: none; }
h1 { opacity: .4; position: relative; margin: 0; font-weight: normal; }

/* Table */

table { width: 100%; border-collapse: collapse; }
table th, table td { padding: 7px; }
table th { text-align: left; border-bottom: 2px solid #eee; }
table td { border-bottom: 1px solid #eee; }
table tbody tr:hover { background: #eee; cursor: pointer; }

/* Form */

input, form textarea  { display: block; border: 3px solid #cdcbcb; width: 95%; min-width: 200px; padding: 5px; font-family: inherit; font-size: 14px;}
input:focus, textarea:focus {outline: 1px solid #333;;}
form input[type="checkbox"] { display: inline; width: auto; }
form textarea { height: 300px; }

/* Module */

.button:hover { background: #ff6018; text-decoration: none; }
.button { display: inline-block; background: #333; padding: 6px 10px 8px 10px; color: white; text-decoration: none; border-radius: 2px; border: 0; cursor: pointer; font-family: inherit; font-size: 14px; }
.button.icon { display: inline-block; background-image: url(img/icons-16.png); height: 16px; text-indent: 20px; }
.button.icon.create { background-position: 8px 8px; }
.button.icon.delete { background-position: 8px -92px; }
.button[type=submit], .button.submit { min-width: 90px; text-align: center; padding-bottom: 5px; background: #ff6018; }
.button[type=submit]:hover, .button.submit:hover { background: #333; }

#login { overflow: hidden; vertical-align: top; border-bottom: 1px solid #cdcbcb; }
#login .box { min-height: 32px; padding: 5px; float: right; border-left: 1px solid #cdcbcb; }
#login .box:last-child { border-left: 0; }

.editable { width: 95%; border: 3px solid #cdcbcb !important; margin-top: 2px; }

#overlay { position: absolute; z-index: 10; background: #fefefe; border: 1px solid #ccc; padding: 10px 30px; margin: 0 auto; box-shadow: 0 0 15px 0 #ccc;
  -moz-transition: top 0.7s;
  -webkit-transition: top 0.7s;
  -ms-transition: top 0.7s;
  -o-transition: top 0.7s;
  transition: top 0.7s;
}
#overlay.hidden { top: -500px !important; }
#overlay .close { float: right; margin-bottom: 20px; }

.dashboard .widget { border: 1px solid #ddd; border-radius: 3px; padding: 0 15px; margin: 15px 0; width: 49.9%; }
.dashboard .quarter { width: 25%; }
.dashboard .half {   width: 50%; }
.counts span { color: #ff6018; }

#steps li { list-style-type: none; }
#screens .previous { margin-right: 5px; }

/* Icons */

.icon32 { display: inline-block; vertical-align: middle; background-image: url(img/icons-32.png); min-width: 32px; min-height: 32px; }

.icon32.preview { background-position: 0 0; }
.icon32.heart { background-position: -50px 0; }
.icon32.trash { background-position: -100px 0; }
.icon32.user { background-position: -142px 0; }
.icon32.tags { background-position: -202px 0; }
.icon32.forbidden { background-position: -250px 0; }
.icon32.power { background-position: -295px 3px; }
.icon32.documents { background-position: -347px 0; }
.icon32.home { background-position: -400px 0; }
.icon32.gears { background-position: -445px 5px; }

.icon32.anonymous { background-position: -400px -50px; }
.icon32.left { background-position: 0 -50px; }
.icon32.right { background-position: -50px -50px; }
.icon32.top { background-position: -50px 0; }
.icon32.bottom { background-position: -50px 0; }
.icon32.plus { background-position: -50px 0; }
.icon32.minus { background-position: -50px 0; }
.icon32.tick { background-position: -50px 0; }
.icon32.delete { background-position: -50px 0; }

.icon32.twitter { background-position: -50px 0; }
.icon32.facebook { background-position: -50px 0; }